<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MVGLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MVGLive.Properties.Settings>
      <setting name="Destination_1" serializeAs="String">
        <value>Hauptbahnhof</value>
      </setting>
      <setting name="Destination_2" serializeAs="String">
        <value>Karlsplatz</value>
      </setting>
      <setting name="Destination_3" serializeAs="String">
        <value>Marienplatz</value>
      </setting>
      <setting name="Destination_4" serializeAs="String">
        <value>Ostbahnhof</value>
      </setting>
      <setting name="TableFontSize" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="TableType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HeaderBackgroundColor" serializeAs="String">
        <value>#FF000342</value>
      </setting>
      <setting name="TableBackgroundColor1" serializeAs="String">
        <value>#FF00056C</value>
      </setting>
      <setting name="TableBackgroundColor2" serializeAs="String">
        <value>#FF262A74</value>
      </setting>
      <setting name="TableForegroundColor1" serializeAs="String">
        <value>#FFE8E8E8</value>
      </setting>
      <setting name="TableForegroundColor2" serializeAs="String">
        <value>#55F1F1F1</value>
      </setting>
      <setting name="HeaderFontSize" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="HeaderForegroundColor" serializeAs="String">
        <value>#99E8E8E8</value>
      </setting>
      <setting name="TimerRefreshInterval" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CaptionFontSizeCoeff" serializeAs="String">
        <value>1.3</value>
      </setting>
      <setting name="WarningForegroundColor" serializeAs="String">
        <value>#FFFFEB85</value>
      </setting>
      <setting name="NoConnectionForegroundColor" serializeAs="String">
        <value>#FFFF4E48</value>
      </setting>
      <setting name="CaptionForegroundColor" serializeAs="String">
        <value>#FFE8E8E8</value>
      </setting>
    </MVGLive.Properties.Settings>
  </userSettings>
</configuration>